# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
build/
.vite/
*.local

# База данных / логи
*.log
*.sqlite3
*.db

# IDE и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db
